<div class="container-poll">
  <li>
    <div>
      <div class="container-poll-title">
        <h3><%= @poll.title.capitalize %></h3>
      </div>
      <p><%= @poll.description.capitalize %></p>

      <ul>
        <% @poll.answers.each do |answer| %>
          <div class="poll-answer-votes">

            <li>
              <% if answer.votes.count == 1 %>
                <%= link_to answer_votes_path(answer.id), method: :post do %>
                  <div class="answer-vote-percentage">
                    <div><%= answer.title.capitalize %> (<%= answer.votes.count %> vote)</div>
                    <div><%= (1/answer.votes.count)*100 %> %</div>
                  </div>
                <% end %>
              <% elsif answer.votes.count == 0 %>
                <%= link_to answer_votes_path(answer.id), method: :post do %>
                  <div class="answer-vote-percentage">
                    <div><%= answer.title.capitalize %> (<%= answer.votes.count %> votes)</div>
                    <div>0 %</div>
                  </div>
                <% end %>
              <% else %>
                <%= link_to answer_votes_path(answer.id), method: :post do %>
                  <div>
                    <div><%= answer.title.capitalize %> (<%= answer.votes.count %> votes)</div>
                    <div><%= (1/answer.votes.count)*100 %> %</div>
                  </div>
                <% end %>
              <% end %>
            </li>

          </div>
        <% end %>
      </ul>

      <div class="deadline-and-icons">
        <% if (@poll.deadline.to_date - Date.current).to_i == 1 %>
          <p><%= (@poll.deadline.to_date - Date.current).to_i %>day left</p>
        <% elsif (@poll.deadline.to_date - Date.current).to_i > 1 %>
          <p><%= (@poll.deadline.to_date - Date.current).to_i %> days left</p>
        <% elsif (@poll.deadline.to_date - Date.current).to_i == 0 %>
          <p>This poll ends today</p>
        <% else %>
          <p>This poll has ended</p>
        <% end %>

        <div>
          <%# Share button to be coded %>
          <i class="fas fa-share-alt fasicont"></i>
          <%# End of share button to be coded %>
          <%= link_to poll_path(@poll), method: :delete do %>
            <i class="fas fa-trash fasicont"></i>
          <% end %>
          <%= link_to edit_poll_path(@poll) do %>
            <i class="fas fa-pencil-alt fasicont"></i>
          <% end %>
        </div>
      </div>
  </li>
</div>
