<h1>Create answer</h1>
<%= simple_form_for(@answer) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :deadline %>
  <%= f.association :project %>
  <%= f.submit %>
<% end %>
