<div class="title-link">
  <h1 class="titlepoll">HELLO!</h1>

  <%# Edit button coming soon: First need profile page %>
  <%= link_to "Edit", edit_user_registration_path %>
</div>

<div class="profileblock">

  <%# Total polls created %>
  <div class="polls">
    <% polls_count = 0 %>
    <% current_user.projects.each do |project| %>
      <% polls_count += project.polls.count %>
    <% end %>
    <% polls_count += current_user.polls.count %>

    <p style="font-size: 35px; color:white"><%= polls_count %></p>
    <p style="font-size: 13px; color:white">polls</p>
  </div>

  <div>
    <% if current_user.avatar.attached? %>
      <%= image_tag current_user.avatar, style: "width: 80px; border-radius: 50%", class: "avatar-profile" %>
    <% else %>
      <%= image_tag "avatar.jpg", style: "width: 80px; border-radius: 50%", class: "avatar-profile" %>
    <% end %>


    <%# Total answers created %>
    <div class="answers">
      <% answer_count = 0 %>
      <% current_user.projects.each do |project| %>
        <% project.polls.each do |poll| %>
          <% answer_count += poll.answers.count %>
        <% end %>
      <% end %>
      <% current_user.polls.each do |poll| %>
        <% answer_count += poll.answers.count %>
      <% end %>

      <div>
        <p style="font-size: 35px; color:white"><%= answer_count %></p>
        <p style="font-size: 13px; color:white">answers</p>
      </div>
    </div>
  </div>

  <%# Total projects created %>
  <div class="projects">
    <p style="font-size: 35px; color:white"><%= current_user.projects.count %></p>
    <p style="font-size: 13px; color:white">projects</p>
  </div>

</div>

<div class="title-link">
  <h2 class="titlepoll" style="font-size:24px">Recent polls</h2>
  <%= link_to 'See all', polls_path %>
</div>

<ul>
  <% current_user.polls.last(6).each do |poll| %>
    <div class="container-poll" style="margin: 0% 7% 0% 7%">
      <div class="container-poll-title">
        <li>
          <%= link_to polls_path do %>
            <h3 style="color: white"><%= poll.title %></h3>
          <% end %>
        </li>
      </div>
      <%= link_to polls_path do %>
        <p style="font-size: 12px"><%= poll.description %></p>
      <% end %>
      <ul>
        <% poll.answers.sort_by(&:votes_count).reverse.each do |answer| %>
          <div class="poll-answer-votes">
            <li class="poll-answers">
              <%= answer.title %>
            </li>
            <span class="poll-votes">
              <%= answer.votes.count %>
            </span>
          </div>
        <% end %>
      </ul>

      <div class="deadline-and-icons">
        <% if (poll.deadline.to_date - Date.current).to_i == 1 %>
          <p><%= (poll.deadline.to_date - Date.current).to_i %>day left</p>
        <% elsif (poll.deadline.to_date - Date.current).to_i > 1 %>
          <p><%= (poll.deadline.to_date - Date.current).to_i %> days left</p>
        <% elsif (poll.deadline.to_date - Date.current).to_i == 0 %>
          <p>This poll ends today!</p>
        <% else %>
          <p>This poll has ended</p>
        <% end %>
        <div>
          <%# Share button to be coded %>
          <i class="fas fa-share-alt fasicont"></i>
          <%# End of share button to be coded %>
          <%= link_to poll_path(poll), method: :delete do %>
            <i class="fas fa-trash fasicont"></i>
          <% end %>
          <%= link_to edit_poll_path(poll) do %>
            <i class="fas fa-pencil-alt fasicont"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</ul>

<div class="container-button" style="padding-bottom: 0">
  <span class="btn-main">
    <%= link_to "Create new poll", new_poll_path %>
  </span>
</div>

<h2 class="titlepoll" style="font-size:24px">All my projects</h2>
<ul>
  <% current_user.projects.each do |project| %>
  <div class="container-projects" style="margin: 0% 7% 0% 7%">
      <li>
          <%= link_to project_path(project) do %>
            <h3 style="color: #000A63"><%= project.title %></h3>
            <% if project.polls.count == 1 %>
              <p><%= project.polls.count %> poll</p>
            <% else %>
              <p><%= project.polls.count %> polls</p>
            <% end %>
          <% end %>

        <div class="deadline-and-icons">
        <%# Share button to be coded %>
          <i class="fas fa-share-alt fasicont"></i>
          <%# End of share button to be coded %>
          <%= link_to project_path(project), method: :delete do %>
            <i class="fas fa-trash fasicont"></i>
          <% end %>
          <%= link_to edit_project_path(project) do %>
            <i class="fas fa-pencil-alt fasicont"></i>
          <% end %>
        </div>
      </li>
    </div>
  <% end %>
</ul>

<div class="container-button">
  <span class="btn-main">
    <%= link_to "Create new project", new_project_path %>
  </span>
</div>