<h1 class="titlepoll">CREATE A POLL</h1>
<div class="poll-form">
  <%= simple_form_for(poll) do |f| %>
    <%= f.input :title, :label => false, placeholder: "Question"%>
    <%= f.input :description, :label => false, placeholder: "Description" %>

    <div data-controller='nested-form' data-nested-form-wrapper-selector-value='.nested-form-wrapper'>
      <template data-nested-form-target="template">
        <%= f.fields_for :answers, Answer.new, child_index: 'NEW_RECORD' do |answer_fields| %>
          <%= render "answer_form", f: answer_fields %>
        <% end %>
      </template>
      <%= f.fields_for :answers do |answer_fields| %>
        <%= render "answer_form", f: answer_fields %>
      <% end %>
      <!-- Inserted elements will be injected before that target. -->
      <div data-nested-form-target="target"></div>
      <button class="button-plus" type="button" data-action="nested-form#add"><i class="fas fa-plus addplus"></i></button>
      <p class="addnewanswer">Add an option</p>
    </div>

    <%= f.input :deadline, :label => false, placeholder: "Deadline" %>
    <%= f.association :project, :label => false, prompt: "Add to project", :include_blank => "No project" %>
    <%= f.submit class: "btn-main" %>
  <% end %>
</div>
