<div class="poll-form">
  <%= simple_form_for(poll) do |f| %>
    <%= f.input :title, :label => "Question", placeholder: "Write your question"%>
    <%= f.input :description, placeholder: "Write a description (optional)" %>

    <div data-controller='nested-form' data-nested-form-wrapper-selector-value='.nested-form-wrapper'>
      <template data-nested-form-target="template">
        <%= f.fields_for :answers, Answer.new, child_index: 'NEW_RECORD' do |answer_fields| %>
          <%= render "answer_form", f: answer_fields %>
        <% end %>
      </template>
      <%= f.fields_for :answers do |answer_fields| %>
        <%= render "answer_form", f: answer_fields %>
      <% end %>
      <!-- Inserted elements will be injected before that target. -->
      <div data-nested-form-target="target"></div>
      <button class="button-plus" type="button" data-action="nested-form#add"><i class="fas fa-plus addplus"></i></button>
      <p class="addnewanswer">Add an option</p>
    </div>

    <%= f.input :deadline, :label => "Deadline", placeholder: "Deadline", discard_hour: true %>
    <%= f.input :deadline, :label => false, placeholder: "Deadline", discard_year: true, discard_month: true, wrapper_html: {data: {controller: "remove-hidden"}} %>
    <%= f.association :project, :label => "Add to project", prompt: "Add to project (optional)" %>
    <%= f.submit class: "btn-main", style: "font-size:24px" %>
  <% end %>
</div>
