<div>
  <div class="container-poll-title">
    <h3><%= poll.title.upcase_first %></h3>
  </div>

  <p><%= poll.description.upcase_first %></p>
  <%# ONLY DISPLAY PROJECT NAME IF IT EXISTS %>

  <div>
    <ul>
      <% poll.answers.each do |answer| %>
        <li class="poll-answer-votes position-relative">
          <span class="vote-percentage-bar" style="width: <%= answer.votes_percentage %>%;"></span>
          <%= link_to answer_votes_path(answer.id), remote: true, method: :post, 'data-turbolinks-scroll': false do %>
            <div class="answer-vote-percentage">
              <p><%= answer.title.upcase_first %> (<%= pluralize(answer.votes_count, "vote") %>)</p>
              <p><%= answer.votes_percentage.nan? ? "0" : answer.votes_percentage.to_i %> %</p>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="deadline-and-icons">
    <%# HAS ENDED %>
    <% if (poll.deadline.to_datetime - DateTime.now).negative? %>
      <p>🕒 This poll has ended</p>
    <%# ENDS SAME DAY %>
    <% elsif (poll.deadline.day == DateTime.now.day) %>
    <%# MORE THAN ONE HOUR %>
      <% if (((poll.deadline.to_datetime - DateTime.now) * 24).to_i - 1) > 1 %>
        <p>🕒 <%= ((poll.deadline.to_datetime - DateTime.now) * 24).to_i - 2 %>h <%= ( (((poll.deadline.to_datetime - DateTime.now) * 1440).to_i - 120) - ((((poll.deadline.to_datetime - DateTime.now) * 24).to_i - 2) * 60)) %>m left</p>
      <%# LESS THAN ONE HOUR %>
      <% else %>
        <p>🕒 <%= ((poll.deadline.to_datetime - DateTime.now) * 1440).to_i - 120 %>m left</p>
      <% end %>
    <%# TOMORROW %>
    <% elsif (poll.deadline.day) == (DateTime.now.day + 1) %>
      <p>🕒
      <%= ( (((poll.deadline.to_datetime - DateTime.now) * 24).to_i - 2) - ((poll.deadline.to_datetime - DateTime.now).to_i * 24) )%>h
      <%= ( ((((poll.deadline.to_datetime - DateTime.now) * 1440).to_i)) - ((((poll.deadline.to_datetime - DateTime.now) * 24).to_i - 2) * 60) - 120)%>m left</p>
    <%# FUTURE %>
    <% else %>
      <p>🕒 <%= (poll.deadline.to_datetime - DateTime.now).to_i %>d
      <%= ( (((poll.deadline.to_datetime - DateTime.now) * 24).to_i - 2) - ((poll.deadline.to_datetime - DateTime.now).to_i * 24) )%>h
      <%= ( ((((poll.deadline.to_datetime - DateTime.now) * 1440).to_i)) - ((((poll.deadline.to_datetime - DateTime.now) * 24).to_i - 2) * 60) - 120)%>m left</p>
    <% end %>

    <% if poll.user == current_user %>
      <div>
        <%= link_to responds_poll_path(poll) do %>
          <i class="fas fa-eye fasicont"></i>
        <% end %>
        <%= link_to success_poll_path(poll) do %>
          <i class="fas fa-share-alt fasicont"></i>
        <% end %>
        <%= link_to poll_path(poll), method: :delete, data: { confirm: "Are you sure you want to detete this poll?" } do %>
          <i class="fas fa-trash fasicont"></i>
        <% end %>
        <%= link_to edit_poll_path(poll) do %>
          <i class="fas fa-pencil-alt fasicont"></i>
        <% end %>
      </div>
    <% end %>

  </div>

    <% unless poll.project.nil? %>
    <p class="label-project"><%= poll.project.title.upcase_first %></p>
  <% end %>
</div>
