<h1 class="titlepoll">POLLS</h1>

<div class="container-poll">
  <ul>
    <% @polls.each do |poll| %>
      <li>
        <div>
          <div class="container-poll-title">
            <h3><%= poll.title %></h3>
          </div>
          <p><%= poll.description %></p>
          <ul>
            <% poll.answers.each do |answer| %>
              <li><%= answer.title %> - <%= answer.votes.count %> votes <%= link_to "Delete this answer", poll_answer_path(answer.poll_id, answer.id), method: :delete %></li>
            <% end %>
          </ul>
          <p><strong>Deadline:</strong> <%= poll.deadline %></p>
        </div>
        <%= link_to "Edit this poll", edit_poll_path(poll) %>
        <%= link_to "Delete this poll", poll_path(poll), method: :delete %>
      </li>
    <% end %>
  </ul>
</div>

<div class="container-button">
  <span class="btn-main">
    <%= link_to "Create poll", new_poll_path %>
  </span>
</div>
