<div class="title-with-avatar">
  <h1 class="titlepoll">POLLS</h1>
  <%# user-avatar goes here %>
  <%= image_tag "Avatar.jpg", style: "width: 50px;" "border-radius: 50%"%>
</div>

<div class="container-poll">
  <ul>
    <% @polls.each do |poll| %>
      <li>
        <div>
          <div class="container-poll-title">
            <h3><%= poll.title %></h3>
          </div>
          <p style="font-size: 12px"><%= poll.description %></p>
          <ul>
            <% poll.answers.each do |answer| %>
              <div class="poll-answer-votes">
                <li class="poll-answers">
                  <%= answer.title %>
                </li>
                <span class="poll-votes">
                  <%= answer.votes.count %>
                </span>
                <span>
                  <%= link_to poll_answer_path(answer.poll_id, answer.id), method: :delete do %>
                    <i class="fa-solid fa-trash"></i>
                  <% end %>
                </span>
              </div>
            <% end %>
          </ul>

          <div class="deadline-and-icons">
            <p><strong>Deadline:</strong> <%= poll.deadline %></p>
             <%#poll.deadline - Date.today =  %>
            <div>
                <%# Share button to be coded %>
                <i class="fa-solid fa-share-nodes"></i>
                <%# End of share button to be coded %>
                <%= link_to poll_path(poll), method: :delete do %>
                  <i class="fa-solid fa-trash"></i>
                <% end %>
                <%= link_to edit_poll_path(poll) do %>
                  <i class="fa-solid fa-pencil"></i>
                <% end %>
            </div>
          </div>

      </li>
    <% end %>
  </ul>
</div>

<div class="container-button">
  <span class="btn-main">
    <%= link_to "Create poll", new_poll_path %>
  </span>
</div>
