<h1>DEAL.</h1>

<%= image_tag "Avatar.jpg", style: "width: 250px; border-radius: 50%", class: "avatar-pages" %>

<ul>
  <div class="container-poll">
    <li>
      <div>
        <div class="container-poll-title">
          <h3><%= @poll.title %></h3>
        </div>
        <p style="font-size: 12px"><%= @poll.description %></p>
        <ul>
          <% @poll.answers.each do |answer| %>
            <div class="poll-answer-votes">
              <li class="poll-answers">
                <%= answer.title %>
              </li>
              <span class="poll-votes">
                <%= link_to answer.votes.count, answer_votes_path(answer.id), method: :post %>
              </span>
            </div>
          <% end %>
        </ul>

        <div class="deadline-and-icons">
          <% if (@poll.deadline.to_date - Date.current).to_i == 1 %>
            <p><%= (@poll.deadline.to_date - Date.current).to_i %>day left</p>
          <% elsif (@poll.deadline.to_date - Date.current).to_i > 1 %>
            <p><%= (@poll.deadline.to_date - Date.current).to_i %> days left</p>
          <% elsif (@poll.deadline.to_date - Date.current).to_i == 0 %>
            <p>This poll ends today</p>
          <% else %>
            <p>This poll has ended</p>
          <% end %>
            <%#poll.deadline - Date.today =  %>
          <div>
            <%# Share button to be coded %>
            <i class="fas fa-share-alt fasicont"></i>
            <%# End of share button to be coded %>
            <%= link_to poll_path(@poll), method: :delete do %>
              <i class="fas fa-trash fasicont"></i>
            <% end %>
            <%= link_to edit_poll_path(@poll) do %>
              <i class="fas fa-pencil-alt fasicont"></i>
            <% end %>
          </div>
        </div>

    </li>
  </div>
</ul>
