<h1 style="text-align: center; padding: 50px 0px 25px 0px">DEAL.</h1>

<%= image_tag @poll.user.avatar, class: "avatar-show" %>

<% unless user_signed_in? || !session[:name].nil? %>
  <!-- Modal -->
    <div id="myModal" class="modal fade" data-controller="open-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Enter your name</h5>
                </div>
                <%= simple_form_for :guest, url: guests_path, remote: true do |f| %>
                  <div class="modal-body">
                    <%= f.input :name %>
                  </div>
                  <div class="modal-footer">
                    <%= f.submit class: "btn btn-primary", data: { bs_dismiss: "modal"} %>
                  </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>



<ul>
  <div class="container-poll">
    <li>
      <%= render "polls/poll", poll: @poll %>
    </li>
  </div>
</ul>
