<div class="share-poll">

  <div class="share-container">
    <div>
      <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar, style: "width: 120px; border-radius: 50%; margin-top: -15%", class: "avatar-show"%>
      <% else %>
        <%= image_tag "avatar.png", style: "width: 120px; border-radius: 50%; margin-top: -15%", class: "avatar-show"%>
      <% end %>
    </div>

    <div>
      <h1>SHARE YOUR POLL!</h1>
      <p>Amazing! You just created a poll. Now go and share it and start making decisions!</p>
    </div>

    <div class="share-text-area">
      <textarea class="js-copytextarea" readonly>http://www.deal-app.me<%= poll_path(@poll) %></textarea>
      <button class="copy-link-btn"><i class="fas fa-share-alt"></i></button>
    </div>

    <%= image_tag "https://api.qrserver.com/v1/create-qr-code/?size=100x100&data=http://www.deal-app.me#{poll_path(@poll)}", class:"qrcode" %>

    <div style="padding: 50px; text-align: center">
      <%= link_to "Go to dashboard", root_path, class:"btn-main" %>
    </div>
  </div>
</div>

  <%# JAVASCRIPT %>
  <script>
  var copyTextareaBtn = document.querySelector('.copy-link-btn');

  copyTextareaBtn.addEventListener('click', function(event) {
    var copyTextarea = document.querySelector('.js-copytextarea');
    copyTextarea.focus();
    copyTextarea.select();

    try {
      var successful = document.execCommand('copy');
      var msg = successful ? 'successful' : 'unsuccessful';
      console.log('Copying text command was ' + msg);
    } catch (err) {
      console.log('Oops, unable to copy');
    }
  });
  </script>
