<h1>Create a project</h1>

<%= simple_form_for @project do |f| %>
  <%= f.input :title, required: true %>
  <%= f.input :description, required: true  %>
  <ul>
    <% @polls.each do |poll| %>
        <li>
          <h3><%= poll.title %> <%= link_to 'PLUS', poll.project_id = @project.id %></h3>
        </li>
    <% end %>
  </ul>
  <%= f.submit "Create project"%>
<% end %>
