<%# Back button %>
<div style="margin: 30px;">
  <%= link_to 'Back', root_path %>
</div>

<div class="title-with-avatar">
  <h1 class="titlepoll"><%= @project.title.upcase %></h1>
  <%# user-avatar goes here %>
  <%= image_tag @project.user.avatar, style: "width: 50px;" "border-radius: 50%", class: "avatar-pages"%>
</div>


<div class="project-description-options">
  <p><%= @project.description %></p>

  <div>
    <%# Share button to be coded %>
    <i class="fas fa-share-alt fasicont"></i>

    <%= link_to project_path(@project), method: :delete do %>
      <i class="fas fa-trash fasicont"></i>
    <% end %>

    <%= link_to edit_project_path do %>
      <i class="fas fa-pencil-alt fasicont"></i>
    <% end %>
  </div>
</div>

<ul>
  <% @project.polls.each do |poll| %>
    <div class="container-poll">
      <li>
        <div>
          <div class="container-poll-title">
            <h3><%= poll.title %></h3>
          </div>
          <p style="font-size: 12px"><%= poll.description %></p>
          <ul>
            <% poll.answers.each do |answer| %>
              <div class="poll-answer-votes">
                <li class="poll-answers">
                  <%= answer.title %>
                </li>
                <span class="poll-votes">
                  <%= link_to answer.votes.count, answer_votes_path(answer.id), method: :post %>
                </span>
              </div>
            <% end %>
          </ul>

          <div class="deadline-and-icons">
            <% if (poll.deadline.to_date - Date.current).to_i == 1 %>
              <p><%= (poll.deadline.to_date - Date.current).to_i %>day left</p>
            <% elsif (poll.deadline.to_date - Date.current).to_i > 1 %>
              <p><%= (poll.deadline.to_date - Date.current).to_i %> days left</p>
            <% elsif (poll.deadline.to_date - Date.current).to_i == 0 %>
              <p>This poll ends today</p>
            <% else %>
              <p>This poll has ended</p>
            <% end %>
              <%#poll.deadline - Date.today =  %>
            <div>
              <%# Share button to be coded %>
              <i class="fas fa-share-alt fasicont"></i>
              <%# End of share button to be coded %>
              <%= link_to poll_path(poll), method: :delete do %>
                <i class="fas fa-trash fasicont"></i>
              <% end %>
              <%= link_to edit_poll_path(poll) do %>
                <i class="fas fa-pencil-alt fasicont"></i>
              <% end %>
            </div>
          </div>

      </li>
    </div>
  <% end %>
</ul>

<div class="container-button">
  <span class="btn-main">
    <%= link_to "Create poll", new_poll_path %>
  </span>
</div>
