<h1><%= @project.title %></h1>
<h3><%= @project.description %></h3>

<ul>
  <% @project.polls.each do |poll| %>
    <li>
      <div>
        <h3><%= poll.title %></h3>
        <p><strong>Description:</strong> <%= poll.description %></p>
        <p><strong>Deadline:</strong> <%= poll.deadline %></p>
        <%= link_to "Edit this poll", edit_poll_path(poll) %>
        <%= link_to "Delete this poll", poll_path(poll), method: :delete %>
        <ul>
          <% poll.answers.each do |answer| %>
              <li><%= answer.title %> - <%= answer.votes.count %> votes | <%= link_to "Vote for this option", answer_votes_path(answer.id), method: :post %> | <%= link_to "Delete this option", poll_answer_path(answer.poll_id, answer.id), method: :delete %></li>
          <% end %>
        </ul>
      </div>
    </li>
  <% end %>
</ul>

<%= link_to "Create new poll", new_poll_path%>
<%= link_to "Edit this project", edit_project_path %>
<%= link_to "Delete this project", project_path(@project), method: :delete %>
